
.{
	margin:0px;
	padding:0px
font-family:serif;}

body{
background-image:url('https://images.unsplash.com/photo-1521232002294-6d1cb35b6f8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1810&q=80'); 
  height:100vh;
  background-size:cover;
  width:100vw;
 min-height:100px;
  background-repeat: no-repeat;
}


#abaut footer{
width:1100px;}

#travel footer{
width:1100px;}
#contact footer{
width:1100px;}

#travel .title-column{font-size:20px;
font-family:serif;
color:#000000 ;
text-shadow: none;}
#travel{background-image:none;
}
#travel .button
{ color:#000000;}

#travel .title-column{width:50px;}
#travel .two-column {
display: grid;
grid-template-columns: 60% 50%;
padding: 30px;
width: 900px;
font-size:20px;
font-family:serif;
color:#000000 ;
text-shadow: none;
top:70%;
margin-bottom: 90px;
}
#travel .two-column div{
margin:30px;
}
#travel .Singapore-picture{
	  
width: 400px;
float:left;
left:80%;
}
#travel .SriLanka-picture{ width: 400px;
left:80%;}
#travel .Turkey-picture{ width: 400px;}

#abaut{
	background-image:none;	

}

#abaut .title {

width: 800px;
position: absolute;
left: 55%;
top: 70%;
font-size:20px;
font-family:serif;
color:#000000;
text-shadow: none;
display: grid;
grid-template-columns: 50% 50%;
padding: 40px;
  
  
}
#abaut .button
{ color:#000000;}
#abaut .mypicture { 
display: grid;
grid-template-columns: 50% 50%;
padding: 40px;
float:left;
left:80%;
width: 350px;
height: 350px;
border-radius: 100%;
object-fit: cover;
  
}
	
#container{
width:1100px;
margin:0 auto;
background-color:#e8f4f8;
dislay:flex;
}
#contact{ background-image:none;
}
#contact .two-column{display: grid;
grid-template-columns: 50% 50%;
padding: 30px;
width: 900px;
font-size:30px;
font-family:serif;
color:#000000 ;
text-shadow: none;
top:90%;
margin-bottom: 90px;}
#contact .contact-picture{
width: 400px;
float:left;
left:80%;
}
#contact .button
{ color:#000000;}

header {
background-color: #ace5ee;}

   
ul{
	list-style-type: none;
	padding:20px;
}
ul li {
   dislay: line-block;
   float: right;
   margin-top:	-10px;
	
	margin-right:150px;
	font-size:30px;
}
ul li a:hover{
	background-color:#ffffff;
color:#000000;}
ul a{
	color:#000000;
	text-decoration:none;
	font-family:serif;
}
h2{ 
font-family:Lucida Handwriting;
font-size:50px;
height: 50px;}

.title{

  width: 700px;
  position: absolute;
  margin: -25px 0 0 -50px;
  left: 40%;
  top: 70%;
  font-size:30px;
  font-family:serif;
  transform:translate(-50%,-50%);
  color:#ff4500 ;
  text-shadow: 2px 2px  #FFFFFF;}

.button{
	position: pointer;
	border:double;
	padding:10px 20px;
	border-radius: 5px;
	top:50%;
	background-color:#f4f0ec;
	color:#ff4500;
	font-size:20px;
	border-radius: 12px;
	background-repeat: no-repeat;
	
}

footer {
    position:fixed;
    bottom:0;
	width: 100vw;
    background-color: #175676;
    color:#f4f0ec;
    padding: -100px;

  
}




